html
  head
    title Report dashboard
    link(rel="stylesheet", href="report.css")
  body
    br
    br
    h1 Report for 
      span= fileName 
    h3 Most used colours
    div.clear
      each count, color in stats.counts
        .block-auto(style="background-color:#{color};")= color + " : " +count
    hr
    h3 Colours that are too close to each other
    hr
    ul
      each problem in collisions
        each color in problem.colors
          li
            .block(style="background-color:#{color.rgb};")
            h2 Found in:
            ul
              each line in color.lines
                li
                  p
                    .block-small(style="background-color:#{line.match};")
                    span(style="font-weight:bold;")= line.match + " in "
                    span= line.declaration.position.start.line+":"+line.declaration.position.start.column + " - " + line.declaration.position.end.line + ":" + line.declaration.position.end.column

                    
